@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Droid Serif", serif;
}

form div {
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

input {
  border-color: #6e8c62;
}

label {
  display: block;
}

ul
li {
  list-style-type: none;
}

header,
footer {
  color: #fff;
  background-color: #70ad55;
}

button {
  background-color: #6e8c62;
  border: none;
}
